@model SORAPC.Models.Review

<style>
    .add-review-form h3 {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 28px;
        color: #333;
        text-align: center;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group label {
        font-weight: bold;
        color: #555;
        font-size: 20px;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 12px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 12px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0b6ad0;
    }

    .text-danger {
        color: red;
        font-size: 14px;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div class="add-review-form">
        <h3>Мой отзыв</h3>
        <form asp-action="AddReview" asp-controller="ProductDetails" method="post">
            <input type="hidden" asp-for="ProductId" />

            <div class="form-group">
                <label>Оценка:</label>
                <select asp-for="Rating" class="form-control" required>
                    <option value="1">⭐️</option>
                    <option value="2">⭐️⭐️</option>
                    <option value="3">⭐️⭐️⭐️</option>
                    <option value="4">⭐️⭐️⭐️⭐️</option>
                    <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Достоинства:</label>
                <textarea asp-for="Pros" class="form-control" rows="2" required></textarea>
                <span asp-validation-for="Pros" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Недостатки:</label>
                <textarea asp-for="Cons" class="form-control" rows="2" required></textarea>
                <span asp-validation-for="Cons" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Комментарий:</label>
                <textarea asp-for="Comment" class="form-control" rows="4" required></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="justify-content: center">Оставить отзыв</button>
        </form>
    </div>
}
else
{
    <p>Чтобы оставить отзыв, <a href="/Authorization/Authorization">войдите</a> в систему.</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}