<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: +7 (999) 123-45-67</p>
                <p>Email: info@sorapc.ru</p>
            </div>
            <div class="col-md-4">
                <h5>Адрес</h5>
                <p>г. Москва, ул. Примерная, д. 123</p>
            </div>
            <div class="col-md-4">
                <h5>Социальные сети</h5>
                <a href="#" class="me-2">Facebook</a>
                <a href="#" class="me-2">Instagram</a>
                <a href="#" class="me-2">Twitter</a>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; 2025 - SORAPC. Все права защищены.
        </div>
    </div>
</footer>