@model SORAPC.Models.Role
@{
    ViewBag.Title = "Редактирование роли";
}
<h2>Редактирование роли</h2>
<form asp-controller="Roles" asp-action="EditRoles" method="post">
    <input type="hidden" asp-for="IdRole" />
    <div class="form-group">
        <label asp-for="Title">Название роли</label>
        <input asp-for="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>
<div class="mt-3">
    <button onclick="history.back()" class="btn btn-secondary">Назад</button>
</div>